@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --primary-color: #0066CC;
  --secondary-color: #2196F3; 
  --gray-color: #6A6A6A; 
  --gray-light-color: #8E8E8E;
  --gray-medium-color: #D9D9D9;
  --gray-extra-light-color: #E3E3E3;
  --red-color: #C13515;
  --red-light-color: #EE968A;
  --text-color: #000000; 
  --font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000;
}